params {
  // Which steps? Pass at least one of these flags.
  bactmap = false  
  parsnp  = false  
  all     = false  

  // Bactmap inputs
  bactmap_csv     = ''
  bactmap_ref     = ''
  bactmap_maxmem  = '15.GB'

  // Parsnp + Gubbins inputs
  parsnp_ref      = ''
  parsnp_dir      = ''

  // Where to find the env YAMLs
  conda_envs      = "${baseDir}/envs"
}
